<h1> Plots Index Page! </h1>
</br>

<h3> All plot numbers: </h3>
<% @plots.each do |plot| %>
  <section id= "index-plots-<%= plot.id %>"> 
  <h4> Plot Number: <%= plot.number %> </h4>
    <% plot.plants.each do |plant| %>
      <section id= "plot-plant-<%= plant.id %>"> 
      <p> <%= plant.name %> <%= link_to "Remove Plant", plot_plant_delete_path(plot_id: plot.id, plant_id: plant.id), method: :delete %></p>
      </section>
    <% end %>
  </section>
<% end %>